:root {
  --section-width: calc(100vw - 30px);
}
.container {
  width: 100%;
  max-width: var(--section-width);
  margin: 0 auto;
}
dialog,
section,
header,
footer {
  padding: 0px calc(50% - var(--section-width) / 2);
  box-sizing: border-box;
}
@media (min-width: 782px) {
  :root {
    --section-width: 752px;
  }
}
@media (min-width: 1200px) {
  :root {
    --section-width: 1190px;
  }
}
body {
  margin: 0;
}
.defs {
  position: absolute;
  left: -1000px;
  top: -1000px;
}
.v-hidden {
  visibility: hidden;
}
.screen {
  height: 100vh;
  width: 100%;
}
.started {
  position: relative;
  display: flex;
  align-items: center;
}
.started-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
}
.started-background-svg {
  width: 100%;
  height: 100%;
}
.started-background-svg rect {
  fill: #C8D24E;
}
.started-background-top {
  clip-rule: evenodd;
  background: rgba(255, 0, 0, 0);
}
.started-background-top .started-background-svg {
  fill: none;
}
.started-inner {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;
}
.started-title {
  font-size: 72px;
  line-height: 91.42%;
  font-family: 'Codec-Warm';
  font-weight: 800;
  margin-bottom: 30px;
  color: #fff;
  mix-blend-mode: difference;
}
.started-subtitle {
  font-family: 'Codec-Warm';
  font-size: 16px;
}
.started-img {
  margin-left: auto;
  position: relative;
  z-index: 3;
}
